{% extends 'base.html.twig' %}
{% block title %}Formulaire d'inscription{% endblock %}
{% block body %}
{% if app.user == false %}
{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
<div class='center card' style='width:20%;margin-top:2%;align-items:center'>
<div class='card-body'>
<h1 class="h3 mb-3 card-title">Créer un compte</h1>
{{ form_widget(form.username) }}
<div class='text-danger form_error' style='text-align:left;'>{{ form_errors(form.username) }}</div>

{{ form_widget(form.email) }}
<div class='text-danger form_error' style='text-align:left'>{{ form_errors(form.email) }}</div>

{{ form_widget(form.numTel) }}
<div class='text-danger form_error' style='text-align:left'>{{ form_errors(form.numTel) }}</div>

{{ form_widget(form.password, {"type":"password"}) }}
<div class='text-danger form_error' style='text-align:left'>{{ form_errors(form.password) }}</div>

{{ form_widget(form.confirm_password, {"type":"password"}) }}
<div class='text-danger form_error' style='text-align:left'> {{ form_errors(form.confirm_password) }}</div>

<button type="submit" class="btn btn-outline-success btn-lg center mt-4 mb-3">Créer un compte</button>
{{ form_end(form)}}
</div>
</div>
{% else %}
<h1 class='h3 center'>Vous êtes connecté en tant que {{app.user.username}}, <a href="{{ path('app_logout') }}">se déconnecter</a></h1>
{% endif %}
{% endblock %}